@tailwind base;
@tailwind components;
@tailwind utilities;

.word {
    opacity: 0;
    position: absolute;
    transition: opacity 0.8s ease-in-out;
  }
  
  .letter {
    display: inline-block;
    transform: rotateX(90deg);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .letter.out {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    opacity: 1;
  }
  
  .letter.behind {
    opacity: 1;
  }